# checkpoints/*
data/animal_valid.pkl
data/animal_train.pkl
data/train.pkl
data/valid.pkl
.ipynb_checkpoints
ml-venv-cpu
__pycache__
.venv
.vscode/settings.json
.notebooks/all_classes_visualized.pdf
.vscode